<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304627475188-s5sjkmsgtq1umtqlg041bekr7dben1r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304627475188-s5sjkmsgtq1umtqlg041bekr7dben1r7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304627475188-e7vmpl8heipbqertqc4km3rc1rc8fkm7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOWu5j_qSDeFJDeezSsu60RPQF_T_7Mw4</string>
	<key>GCM_SENDER_ID</key>
	<string>304627475188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otp</string>
	<key>PROJECT_ID</key>
	<string>augen-eb7a1</string>
	<key>STORAGE_BUCKET</key>
	<string>augen-eb7a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304627475188:ios:3460a445ba1151319cf4a1</string>
</dict>
</plist>